<!doctype html>
<html>

<head>
    <title>Palindrome</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <div class="container" data-ng-init="messageManager()">

        <div class="page-header text-center">
            <h1>Palindrome Tester</h1>
        </div>

        <div>
            <!-- Message LIST -->
            <div id="message-list" class="col-sm-8 col-sm-offset-2">
                <h2>Message List</h2>
                <div>
                    <table class="table">
                        <tr>
                            <th>Message</th>
                            <th>Palindrome</th>
                        </tr>
                        <tbody ng-repeat="message in messages | orderBy : 'created_at'">
                            <tr class="main-row" ng-click="toggleMessageDetail($index)">
                                <td>{{ message.body }}</td>
                                <td>{{ message.isPalindrome | yesNo}}</td>
                            </tr>
                            <tr class="extra-row" ng-show="activePosition == $index">
                                <td colspan="8">
                                    <section>
                                        <label>Message:</label>
                                        <div id="editor" ng-class="[{'form-control': editmode}]" ng-model="message.body" ng-attr-contenteditable="{{ editmode }}">
                                        </div>

                                        <label>Palindrome:</label>
                                        <p>{{ message.isPalindrome | yesNo}}</p>

                                        <label>Created:</label>
                                        <p>{{ message.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</p>

                                        <p>
                                            <button type="button" class="btn btn-danger" ng-click="deleteMessage(message)">Delete</button>
                                            <button class="btn btn-success" ng-show="editmode" ng-click="updateMessage(message);toggleEditMode()" type="submit">Save</button>
                                            <button type="button" class="btn btn-primary" ng-hide="editmode" ng-click="toggleEditMode()">Modify</button>
                                        </p>

                                    </section>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Add New Message</h2>
                <!-- FORM TO CREATE NEW Messages -->
                <div id="feed-form">
                    <div>
                        <form>
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                <div class="form-group">
                                    <label for="feedTitle">Message: </label>
                                    <input type="text" id="messageBody" class="form-control" ng-model="formData.body">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="createMessage()">Add</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>