/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

    table {
        width: 100%
    }
    
    .main-row {
        cursor: pointer;
    }
    
    .main-row:hover {
        background-color: #ddd;
    }
    
    .extra-row {
        background-color: #eee !important;
    }
    
    .nav-tabs > li > a {
        background-color: #fee;
    }
    
    .nav-tabs > li.active > a {
        background-color: #ccc !important;
    }
    
    .tab-pane {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #ccc !important;
    }
    
    